body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin: 0; padding: 0; } body, button, input, select, textarea {font-size: 12px; font-family: "SimSun","宋体","Arial Narrow"; } h1, h2, h3, h4, h5, h6 {font-size: 100%; } small {font-size: 12px; } ul, ol {list-style: none; } a {text-decoration: none; } a:hover {text-decoration: underline; } sup {vertical-align: text-top; } sub {vertical-align: text-bottom; } img {border: 0; } button, input, select, textarea {font-size: 100%; } table {border-collapse: collapse; border-spacing: 0; }

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}