@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot") format("embedded-opentype"),
         url("../fonts/iconfont.woff") format("woff"),
         url("../fonts/iconfont.ttf") format("truetype"),
         url("../fonts/iconfont.svg") format("svg");
}



.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-aliyun:before {
    content: "\E603"
}

.icon-taobaowangzimu:before {
    content: "\E624"
}

.icon-taobaowanglogo:before {
    content: "\E60F"
}

.icon-weibo2:before {
    content: "\E60B"
}

.icon-alipay2:before {
    content: "\E618"
}

.icon-iconfontyijianfankui:before {
    content: "\E61C"
}

.icon-password:before {
    content: "\E626"
}

.icon-qrcode:before {
    content: "\E628"
}

.icon-arrow:before {
    content: "\E627"
}

.icon-alipay2:before {
    content: "\E644"
}

.icon-del:before {
    content: "\E60E"
}

.icon-alipaybg:before {
    content: "\E63C"
}

.icon-qq2:before {
    content: "\E631"
}

.icon-weixin2:before {
    content: "\E659"
}

.icon-akey-phone:before {
    content: "\E600"
}

.icon-weibo2:before {
    content: "\E630"
}

.icon-eye-open:before {
    content: "\E60D"
}

.icon-loading:before {
    content: "\E643"
}

.icon-akey-error:before {
    content: "\E6B1"
}

.icon-success:before {
    content: "\E6B3"
}

.icon-taobao:before {
    content: "\E606"
}

.icon-eye-close-2:before {
    content: "\E60A"
}

.icon-arrow-right:before {
    content: "\E60C"
}

.icon-eye-close:before {
    content: "\E6B8"
}

.icon-aliyun1:before {
    content: "\E709"
}

.icon-dingding:before {
    content: "\E70B"
}

.icon-damailogo:before {
    content: "\E658"
}

.icon-user:before {
    content: "\E601"
}

.icon-sms:before {
    content: "\E602"
}

.icon-pwd:before {
    content: "\E604"
}

.icon-phone:before {
    content: "\E605"
}

.icon-warning:before {
    content: "\E607";
    color: #ff9000;
}

.icon-success-full:before {
    content: "\E608"
}

.icon-error-full:before {
    content: "\E609"
}

.icon-scan:before {
    content: "\E611"
}

.icon-akey-success:before {
    content: "\E70A"
}